/* FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* CODE FOR ADAPTIVITY*/
@media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

/*GENERAL STYLES*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*CODE FOR HEADER*/
@media {
    header {
        transition: all .5s;
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 4px 10px;
        position: fixed;
        width: 100%;
        /*background: -webkit-linear-gradient(315deg, rgb(105, 0, 255), rgb(255, 0, 225) 100%);*/
        /*background: -moz-linear-gradient(315deg, rgb(105, 0, 255), rgb(255, 0, 225) 100%);*/
        /*background: linear-gradient(315deg, rgb(105, 0, 255), rgb(255, 0, 225) 100%);*/
        background: transparent;
    }

    .wrap-logo {
        display: flex;
        align-items: center;
    }

    header a {
        color: #212121;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        border-radius: 10px;
        margin: 0 10px;
    }

    header a.logo {
        font-size: 30px;
        font-weight: bold;
        color: #f1f1f1;
    }

    .header_links{
        color: white;
        transition: all .2s;
    }

    .header_links:hover {
        background-color: white;
        color: #212121;
    }

    .header_links:target {
        background-color: white;
        color: black;
    }

    .header_links:target {
        color: red;
    }

    .header_links.active {
        color: black;
        background-color: white;
    }

    nav {
        display: flex;
        align-items: center;
    }
}

/*CODE FOR ABOUT APP BLOCK*/
@media {
    #aboutAppBlock {
        height: 100vh;
        background-image: url("images/aboutAppBlock/backgroundImage.png");
        object-fit: cover;
        background-size: 100%;
    }

    main .row .col-6:nth-child(1) {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    main .row .col-6:nth-child(1) p {
        margin: 0;
        text-align: center;
        color: white;
    }

    main .row .col-6:nth-child(2) {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    main .row .col-6:nth-child(2) img {
        margin-top: 75px;
        width: 100%;
    }
}

/*CODE FOR ABOUT APP BLOCK [MOBILE]*/
@media (max-width: 1000px){
    #aboutAppBlock {
        height: 80vh;
        background-image: url("images/aboutAppBlock/backgroundImageVertical.png");
    }
    main .row .col-6:nth-child(1) {

        height: 30vh;
    }
    main .row .col-6:nth-child(2) {
        height: 40vh;
    }
    main .row .col-6:nth-child(2) img{
        width: 80%;
    }
}

/*CODE FOR DOWNLOAD MOBILE APP BLOCK*/
@media {
    #downloadModileAppBlock{
        border: none;
    }

    #downloadModileAppBlock .row .col-6:nth-child(1) img{
        width: 40%;
        text-align: center;
        margin: 0 50px;
    }

    #downloadModileAppBlock .row .col-6:nth-child(2){
        display: flex;
        align-items: center;
        color: white;
    }

    #downloadModileAppBlock .row .col-6:nth-child(2) p{
        margin: 0;
        text-align: center;
    }

    #downloadModileAppBlock .row .col-6:nth-child(2) div span{
        font-weight: 800;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        line-height: 29px;
        margin-bottom: 50px;
    }
}

/*CODE FOR DOWNLOAD MOBILE APP BLOCK [MOBILE]*/
@media (max-width: 1000px) {
    #downloadModileAppBlock{
        object-fit: cover;
        background-size: 100%;
        padding: 20px;
    }

    #downloadModileAppBlock .row .col-6:nth-child(1){
        width: 400px;
    }

    #downloadModileAppBlock .row .col-6:nth-child(2){
        width: 300px;
    }

    #downloadModileAppBlock .row .col-6:nth-child(2) div span{
        font-size: 22px;
    }
}

/* CODE FOR CARD*/
@media {
    #modileAppCard{
        margin-top: 10px;
        width: 350px;
        height: 100px;
        border: 1px solid white;
        border-radius: 10px;
        transition: all .3s;
    }

    #mobileAppCardImage{
        width: 100px;
        padding: 10px;
        padding-left: 20px;
    }

    #modileAppCardText{
        width: 250px;
        padding: 10px;
    }

    #modileAppCardText p:nth-child(1){
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }

    #modileAppCardText p:nth-child(2){
        font-family: 'Josefin Sans', sans-serif;
        font-size: 40px;
    }
}

/* CODE FOR CARD [HOVER]*/
@media {
    #modileAppCard:hover{
        border: 1px solid #851f6f;
        background: white;
        transition: background-color .3s;
    }

    #modileAppCard:hover #modileAppCardText{
        color: #851f6f;
    }
}

/*CODE FOR HOW TO USE*/
@media {
    #howToUseBlock {
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    #howToUseBlock div{
        margin: 0;
        text-align: center;
    }
    .howToUseCard{
        display: inline-block;
    }
    .howToUseCard p{
        margin: 20px 0;
    }
    .howToUseIcon{
        background: url("images/howToUse/arrow.png");
        background-size: cover;
        width: 265px;
        height: 150px;
        display:inline-block;
        padding-top: 63px;
        padding-left: 10px;
    }
    .howToUseInside i{
        transform: scale(5);
    }
}

/*CODE FOR HOW TO USE [MOBILE]*/
@media (max-width: 1000px){
    #howToUseBlock {
        height: 25vh;
    }
    .howToUseCard{
        margin: 30px 0;
    }
    .howToUseCard p{
        margin: 10px 0;
    }
}

/*CODE FOR HOW TO USE [HOVER]*/
@media{
    .howToUseInside i{
        transform: scale(5);
        transition: all .2s
    }
    .howToUseInside:hover i{
        transform: rotate(90deg) scale(5);
    }
}

/*CODE FOR OUR PARTNERS BLOCK*/
@media{
    #ourPartnersBlock {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        padding-top: 20px;
    }
    #ourPartnersBlock div{

        text-align: center;
    }
}

/*CODE FOR OUR PARTNERS BLOCK [MOBILE]*/
@media (max-height: 1000px){
    #ourPartnersBlock {
        height: 55vh;
    }
}

/*CODE FOR PERSON'S CARD*/
@media{
    .personsCard {
        height: 380px;
        width: 250px;
        color: #f1f1f1;
        display: inline-block;
        margin: 0 20px;
        transition: all .2s;
    }
    .personsCard:hover {
        transform: scale(1.05);
    }
    .personsAva img{
        width: 250px;
        height: 300px;
        background-size: 100%;
    }
    .personsText span:nth-child(1){
        font-family: 'Varela Round', sans-serif;
        font-weight: 700;
        font-size: 25px;
    }
    .personsText span:nth-child(2){
        font-family: 'Varela Round', sans-serif;
        font-weight: normal;
        font-size: 20px;
    }
}

/*CODE FOR FOOTER  */
@media{
    ul{
        list-style: none;
        padding: 0;
    }
    .footer{
        background-color: #24262b;
        padding: 70px 0;
        color: #bbbbbb;
    }
    .footer-col:nth-child(1){
        width: 60%;
        margin-right: 70px;
    }
    .footer-col{
        width: 15%;
        padding: 0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-links{
        font-size: 16px;
        text-transform: capitalize;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-links:hover{
        color: #ffffff;
        padding-left: 8px;
        cursor: pointer;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: #24262b;
        background-color: #ffffff;
    }

    /*responsive*/
    @media(max-width: 767px){
        .footer-col{
            width: 50%;
            margin-bottom: 30px;
        }
    }
    @media(max-width: 574px) {
        .footer-col {
            width: 100%;
        }
    }
}

/*CODE FOR SCROLLBAR*/
@media {
    ::-webkit-scrollbar {
        opacity: 0.5;
        width: 5px;
    }

    ::-webkit-scrollbar-track{
        opacity: 0.5;
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #C0C0C0;
    }

    ::-webkit-scrollbar-thumb:hover {
        opacity: 1;
        background: rgb(105, 0, 255);
    }

}

.bgDark{
    background-color: #7f00ff ;
    transition: all .5s;
}

